################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GK.BRE/GK.BRE/bin/Debug/net5.0
/GK.BRE/.vs/GK.BRE
/GK.BRE/GK.BRE/obj
/GK.BRE.UnitTest/GK.BRE.UnitTest/bin/Debug/net5.0
/GK.BRE.UnitTest/GK.BRE.UnitTest/obj
/GK.BRE/GK.BRE/GK.BRE.csproj.user
